@model TravelPackage.Models.tpProducts

<div>
    <p><strong>El Nido Tour B</strong></p>

    <h3>Description</h3>
    <p>
        <br /> Visit 3 islands and 2 caves in El Nido, Palawan
        </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Snake Island </p>
    <p> 2. Cathedral Cave</p>
    <p> 3. Pinagbuyutan Island </p>
    <p> 4. Entalula Island </p>
    <p> 5. Codungon Cave </p>

    <h3>Inclusions</h3>
    <p>
        <br />Boat Transfer
        <br />Picnic Lunch
        <br />Free use of Beach Towel
        <br />Tour Guide
    </p>

    <h3>Exclusions</h3>
    <p>
        <br />transfer from guest hotel to Corong-Corong bay via tricycle is not included in the rate, tricycle fare 100/tricycle/way, maximum of 3passengers per tricycle.
        <br />Eco Tourism Development Fee of PHP200.00/person will be paid directly by the guest during tour. 
        <br />Snorkeling gears & Aqua shoes not included in the package rate

    </p>
    <hr />

</div>
