@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br />Pickup: 7-8am Bohol areas
        <br />Time: It will take around 7-9hrs tour 
    </p>
    <hr />
    <h3>Destinations</h3>
    <p>Arrival in Tagbilaran City</p>
    <ul>
        <li> Blood Compact shrine </li>
        <li> Balclayon Church</li>
        <li> Phyton and wildlife park</li>
        <li> Butterfly Sanctuary </li>
        <li> Buffet Lunch in Loboc/Loay River Cruise </li>
        <li> Hanging Bridge</li>
        <li> Manmade Forest</li>
        <li> Tarsier</li>
        <li> Chocolate Hills</li>
        <li> Souvenir Shop </li>
    </ul>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Transportation for the group
        <br />Destination Entrances
        <br />Buffet Lunch at Loboc River ( Floating restaurant )
        <br />2 Night/s Standard Room Accommodation 
    </p>
    <hr />


</div>
