@model TravelPackage.Models.tpProducts

<div>
    <p><strong>Bohol Countryside Tour</strong></p>
    <p>A long 7 - 9 hrs tour filled with adventure and destinations 
    across the island of Bohol. As you pass thru various cultural 
    destinations, you will be fascinated by the views of the main 
    island of Bohol countryside tour. Moreover, visiting Bohol's 
    country side will relax your mind and soul with its wonderful 
    views and history. Capture the breath taking view of Bohol's 
    famous chocolate hills, Tarsiers and man-made forest. You will 
    go back in history in the Blood Compact Shrine and Baclayon 
    Church. After, enjoy your lunch at the Loboc River Cruise with 
    a buffet.</p>

    <h3>Description</h3>
    <p>
        <br />Pickup: 7-8am Bohol areas
        <br />Time: It will take around 7-9hrs tour 
        <br />Rate: 3,500 Php
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> Airport / Hotel Pickup</p>
    <p> 1. Blood Compact Site </p>
    <p> 3. Baclayon Church </p>
    <p> 3. Bohol Biggest Phyton </p>
    <p> 2. Loboc River Cruising Floating Restaurant with Lunch</p>
    <p> 3. Hanging Bridge </p>
    <p> 3. Tarsier Sanctuary </p>
    <p> 4. Chocolate Hills </p>
    <p> 5. Man Made Forest </p>
    <p> 6. Butterfly Garden Sanctuary </p>
    <p> 7. Ecotourism Adventure Park </p>
    <p> 7. Pasalubong Center </p>
    <p> Airport / Hotel Drop Off </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Transportation for the group
        <br />Destination Entrances
        <br />Buffet Lunch at Loboc River ( Floating restaurant )
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p>
        Airtfare meals( unless indicated) and everything that is not stated in the itinerary. 
    </p>
</div>
