@model TravelPackage.Models.tpProducts

<div class="row">
    <div class="col-md-8">
        <h3>Description</h3>
        <ul>
            <li />Jump off Time on board Motorized Boat at Alona Beach
            <li />Dolphin Watching
            <li />Snorkeling at Balicasag Fish Sanctuary
            <li />LUNCH SERVED @@ BALICASAG ISLAND – ON GUEST ACCOUNT
            <li />Swimming at Virgin Island
            <li />End of Tour, Drop Off at Alona Beach

        </ul>
        <hr />

        <h3>Inclusions</h3>
        <p>

        </p>
        <ul>
            <li />Dolphin Watching and Island Hopping Tour (4-5hrs duration)-SEATOUR
            <li />Environmental Fees and Gov’t Taxes
            <li />Life vest and snorkeling mask
            <li />Motorized Boat rental, fuel and boatman
            <li />Pick up and drop off in Alona Beach.
        </ul>
        <h3>Note</h3>
        <p>
            <br />Add-on of 1,000 round-trip land transfer (group)
            <br /> if hotel is away from Alona Beach
        </p>
        <hr />


    </div>
</div>

