@model TravelPackage.Models.tpProducts

<div class="row">
    <div class="col-md-8">
        <p>
            Bohol Island Hopping Package includes various activities
            to enjoy with your friends and family. Watch the dolphins
            and whales in the clear waters of Bohol. Afterwards, go to
            a Island Hopping trip (Balicasag and Virgin Island) and
            relax. Also, you can do some exciting activities such as
            snorkeling at Balicasag Island.
        </p>
        <hr />
        <h3>Description</h3>
        <p>
            <br /> Tour Code: BHL-PIS
            <br /> Pickup: 7-8am Bohol areas
            <br /> Time: It will take around 6-8 hrs tour
            <br /> Price: 2500 per pax, min 10 pax
        </p>
        <hr />
        <h3>Destinations</h3>
        <p> Airport Hotel Pick up</p>
        <p> 1. Whale and Dolphin watching </p>
        <p> 2. Fish Sanctuary at Balicasag Island </p>
        <p> 3. Virgin Island Sand Bar</p>
        <p> 4. Lunch On Guest Account</p>
        <p> 5. Pick up and Back to Hotel (Change Clothes) </p>
        <p> 6. SeaShell Museum </p>
        <p> 7. Hinagdanan Cave </p>
        <p> 8. bee Farm </p>
        <p> Airport Hotel Drop off</p>

        <h3>Inclusions</h3>
        <p>
            <br />Airconditioned Transportation for the group
            <br />Destination Entrances
            <br />Boat Rental
        </p>
        <hr />
        <h3>Exclusions</h3>
        <p>
            Airtickets
            <br />Hotel Accommodation
            <br />Tour Guides(Php 2,500 upon request)
            <br />Meals 
        </p>



    </div>
</div>

