@model TravelPackage.Models.tpProducts

<div>
    <h1>Baguio Tour Package</h1>
    <p>2D1N Baguio Tour Package for only 1859 per person (min. of 10).</p>
    <h3><strong>Itinerary</strong></h3>
    <p><strong>Day 1:</strong>   1:00 AM - Departure to Baguio</p>
    <p>6:00 AM - Arrival Baguio / Breakfast (personal Account) / Start of Baguio City Tour / Back to Hotel / Rest</p>
    <p><strong>Day 2: </strong> 7:00 AM - Check out / Breakfast (personal account) Continuation of Tour / Back to Manila</p>
    <h3><strong>Destinations:</strong></h3>
    <ul>
        <li>Strawberry Farm</li>
        <li>Tam-awan Village</li>
        <li>Mines View Park</li>
        <li>The Mansion</li>
        <li>Wright Park</li>
        <li>Camp John Hay</li>
        <li>Burnham Park</li>
        <li>Baguio Cathedral</li>
        <li>Lourdes Groto</li>
    </ul>
    <h3>Terms and Conditions:</h3>
    <ul>
        <li>500 / pax reservation fee upon confirmation of the package and 50% downpayment must be done fifteen (15) days before the date of arrival. Full Payment must be done before or upon the arrival date.</li>
        <li>Please send a copy of deposit slip as proof of payment through email/fb for our copy and acknowledgement.</li>
        <li>For Holidays and long weekends. Full payment shall be made before the departure date.</li>
        <li>Confirmed bookings are strictly non-refundable but transferable. Failure to comply will cause participant's group to pay the remaining balance.</li>
        <li>Private tour: 50% downpayment shall be made 7 days before the travel date, if not, slots reserved will be cancelled. The service</li>
    </ul>
    <p>See more <a href="http://realbreezedavaotours.com/TourPackages/davao-city-tour/">tour packages in Davao City</a> or check our <a href="http://realbreezedavaotours.com/TourPackages/ilocos-tour-package/">Ilocos Tour Package</a>.</p>
    <h3>Contact Us for Inquiries</h3>
    <p>Email: RealBreezeDavao@Gmail.com<br /><a href="tel:+639167558473">Globe: +63 916-755-8473</a><br /><a href="tel:+639090761575">Smart: +63 909-076-1575</a><br /><a href="tel:+639330895358">Sun: +63 933-089-5358</a></p>
    <p> </p>

</div>
