@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> Visit the Tabon Cave in Puerto Princesa, Palawan
        </p>
    <hr />

    <h3>Inclusions</h3>
    <p>
        <br /> Air conditioned land transfer 
        <br /> Buffet Lunch 
        <br /> Entrance Fees
        <br /> Motorized boat
        <br /> Shed rentals
        <br /> Licensed Tour Guide. Time: 7:00am-5:00pm
    </p>

    <h3>Exclusions</h3>
    <p>
        <br />For Puerto Princesa Tour, local government collects environmental fee php150.00/person during the visit to the Underground River, Honda Bay & Dos Palmas this will be paid directly to site by the guest.

    </p>
    <h3> Package inclusions and Package restrictions:</h3>
    <ul>
        <li>
             Rates are quoted on a per person basis and are inclusive of service charge and applicable government tax.
        </li>
        <li>
            Child rate is nett and non–commissionable. Applicable to children 2-11 years old. Infants are free-of-charge.
        </li>
        <li>
            Day Tour Package is not applicable during peak periods. There will be a Php500 surcharge during Christmas Season (December 19 –January 7) and Holy Week Period.
        </li>
        <li>
            This package does not include towels and toiletries, use of Swimming Pool and Jacuzzi, food outside of the package, laundry, other marine sports activities and equipment rentals, souvenir shop purchases and other expenses that are incidental in nature.
        </li>
        <li>
            Welcome drink
        </li>
        <li>
            Scheduled round trip land and boat transfers (city-resort-city)
        </li>
        <li>
            Departure at the Wharf – 0800H
        </li>
        <li>
            Departure at the Resort – 1545H
        </li>
        <li>
            Lunch
        </li>
         
    </ul>
    <ul>
        <li>
            Children's playground
        </li>
        <li>
            Ocean Kayaks
        </li>
        <li>
            Courts and equipment (tennis, basketball, beach volleyball, beach badminton)
        </li>
        <li>
            Snorkeling equipment (mask,snorkel,fins)
        </li>
        <li>
            Recreation center (darts, billiards, table tennis, videoke)
        </li>
        <li>
            Speedboat transfers to nearby snorkeling sites
        </li>
        <li>
            Services of a guest officer and marine sports guide
        </li>

    </ul>

    <hr />


</div>
