@model TravelPackage.Models.tpProducts

<div>
    <h1>Baler Tour Package</h1>
    <p>2N1N Baler Tour Package for only 2399 per person.</p>
    <h3>Destinations:</h3>
    <ul>
        <li>Baler City Tour</li>
        <li>Mothers Falls</li>
        <li>Museo De Baler</li>
        <li>Aurora House</li>
        <li>Ermita Hill</li>
        <li>Balete Centennial Tree</li>
    </ul>
    <h3>Exclusions:</h3>
    <ul>
        <li>Meals and Surfing Activities</li>
        <li>PM for Team Building or customize arrangements</li>
    </ul>
    <h3>Rules for Kids:</h3>
    <ul>
        <li>Kids age of 6 &amp; below will have 100% payment if will occupy a seat in the van. 50% if they will seat on guardians lap.</li>
        <li>Kids age of 7 &amp; up will have full payment.</li>
    </ul>
    <h3>Terms and Conditions:</h3>
    <ul>
        <li>Please note that itinerary will depend on the time management, cooperation of the group, efficiency of the location and availability of the tour without prior notice.</li>
        <li>Rooms are based on quadruple sharing. Additional 1,000 for private room for 2.</li>
        <li>Baggage policy: Pack light, 1 Medium size bag only allowed per person.</li>
        <li>Trolley-type baggage is not allowed inside van for space.</li>
    </ul>
    <p> </p>

</div>
