@model TravelPackage.Models.tpProducts

<div>
    <h1>Ilocos Tour Package</h1>
    <p>4D3N Ilocos Tour Package for only 3,495 per pax. Min of 10 pax.</p>
    <h3>Itinerary</h3>
    <p>Day 0 : 10pm - Departure Manila to Ilocos</p>
    <p>Day 1 : Arrival / Start of Laoag City Tour / Check in</p>
    <p>Day 2: Pagudpud Tour</p>
    <p>Day 3: Check out / Vigan Tour</p>
    <p>4 PM - Departure to Baguio</p>
    <p>10PM - Arrival to Baguio City Tour. Check In</p>
    <p>Day 4: Check out / Baguio City Tour / Back to Manila</p>
    <p></p>
    <h3>Destinations:</h3>
    <p><strong>Laoag City Tour</strong></p>
    <ul>
        <li>Paoay Lake</li>
        <li>Paoay Church</li>
        <li>Jardin de San Agustin</li>
        <li>Malacanang of the North</li>
        <li>Provincial Capitol</li>
        <li>Aurora Park</li>
        <li>St.Williams Cathedral</li>
        <li>Sinking Bell</li>
    </ul>
    <p></p>
    <p><strong>Pagudpud Tour</strong></p>
    <ul>
        <li>Bacarra Church Ruins</li>
        <li>Cape Bojeador</li>
        <li>Lighthouse Kapurpurawan Rock Formation</li>
        <li>Bangui Windmill</li>
        <li>Patapat Viaduct</li>
        <li>Paraisoni Anton</li>
        <li>Bantay Abot Cave</li>
        <li>Timangtang Rock Formation</li>
        <li>Blue Lagoon White</li>
        <li>Beach Cove</li>
    </ul>
    <p><strong>Vigan Tour</strong></p>
    <ul>
        <li>Juan Luna Shrine</li>
        <li>Bantay Church and Bell Tower</li>
        <li>&nbsp;Baluarte Ni Singson</li>
        <li>Hidden Garden</li>
        <li>Calle Crisologo</li>
        <li>Heritage Village</li>
        <li>Crisologo Museum</li>
        <li>St Paul Cathedral</li>
        <li>Plaza Salcedo</li>
    </ul>
    <p><a href="http://realbreezedavaotours.com/TourPackages/2d1n-baguio-tour-package/"><strong>Baguio Tour</strong></a></p>
    <ul>
        <li>Strawberry Farm</li>
        <li>Tam-awan Village</li>
        <li>Mines View Park</li>
        <li>The Mansion</li>
        <li>Wright Park</li>
        <li>Camp John Hay</li>
        <li>Burnham Park</li>
        <li>Baguio Cathedral</li>
        <li>Lourdes Groto</li>
    </ul>
    <p>See more <a href="http://realbreezedavaotours.com/TourPackages/davao-city-tour/">tour packages in Davao City</a> or check our <a href="http://realbreezedavaotours.com/TourPackages/cebu-tour-packages/">Cebu Tour Package</a>.</p>
    <h3>Contact Us for Inquiries</h3>
    <p>Email: RealBreezeDavao@Gmail.com<br><a href="tel:+639167558473">Globe: +63 916-755-8473</a><br><a href="tel:+639090761575">Smart: +63 909-076-1575</a><br><a href="tel:+639330895358">Sun: +63 933-089-5358</a></p>
</div>
