@model TravelPackage.Models.tpProducts

<div>
    <h1>Sagada Tour Package</h1>
    <p>3D2N Sagada Tour Package for only Php 3,399 per person.</p>
    <h3>Destination:</h3>
    <ul>
        <li>Sagada</li>
        <li>Banaue and La Trinidad Baguio (Side Trip)</li>
    </ul>
    <h3>Inclusions:</h3>
    <ul>
        <li>Roundtrip Van Transfer (Manila-Sagada-Manila)</li>
        <li>2 Nights Sagada Room Accomodation</li>
        <li>Environmental and Sagada Tourism Fee</li>
    </ul>
    <h3>Exclusions:</h3>
    <ul>
        <li>Meals</li>
        <li>Optional Choice of Activities : Caving and Trekking</li>
        <li>Local Jeepney Transportation</li>
    </ul>
    <h3>Rules for Kids:</h3>
    <ul>
        <li>Kids age of 6 &amp; below will have 100% payment if will occupy a seat in the van. 50% if they will seat on guardians lap.</li>
        <li>Kids age of 7 &amp; up will have full payment.</li>
    </ul>
    <h3>Terms and Conditions:</h3>
    <ul>
        <li>Pleas note that itinerary will depend on the time management, cooperation of the group, efficiency of the location and availability of the tour without prior notice.</li>
        <li>Rooms are based on quadruple sharing. Additional 1,000 for private room for 2.</li>
        <li>Baggage policy: Pack light, 1 Medium size bag only allowed per person.</li>
        <li>Trolley-type baggage is not allowed inside van for space.</li>
    </ul>
    <p>See more <a href="http://realbreezedavaotours.com/TourPackages/davao-city-tour/">tour packages in Davao City</a>.</p>
    <h3>Contact Us for Inquiries</h3>
    <p>
        Email: RealBreezeDavao@Gmail.com<br>
        <a href="tel:+639167558473">Globe: +63 916-755-8473</a><br>
        <a href="tel:+639090761575">Smart: +63 909-076-1575</a><br>
        <a href="tel:+639330895358">Sun: +63 933-089-5358</a>
    </p>
    <p>&nbsp;</p>

</div>
