@model IEnumerable<TravelPackage.Models.tpAreas>

@{
    ViewBag.metaTitle = "Travel, Vacation and Tour Packages in Philippines";
    ViewBag.metaDescription = "We are travel agency that provides affordable tour, vacation and travel packages to popular tourist destinations in the philippines.";
}

<style>


    .travel-banner {
        background-image: url("/Images/Banner/TravelBanner-2024.PNG");
        background-color: gray;
        width: 100%;
        min-height: 720px;
        min-width: 1080px;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }

    .booking-search-form {
        /*border: 1px solid lightgray;*/

        padding: 15px;
        box-shadow: 2px 10px 15px #e0e0e0;
        border-radius: 5px;
        position: relative;
        margin-top: -40px;
        background-color: white;
        padding-bottom: 30px;
    }

    .booking-search-form .form-group{
        align-items: flex-start;
    }

        .booking-search-form .form-group label {
            padding-left:14px;
            font-weight:600;
        }


        .booking-search-form div {
            margin-left: 7px;
        }

    .search-input {
        display: flex !important;
        flex-direction: column !important;
    }

    .Tour-Packages-List {
        margin-top: 8rem;
    }

    .tour-package-card {
        padding: 0.5rem;
    }

        .tour-package-card .card {
            box-shadow: 0px 5px 10px #e0e0e0;
        }

    .dropdown-toggle:after {
        content: none !important;
    }

    .div-gray {
        width: 100%;
        min-height: 600px;
        background-color: aliceblue;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .home-services {
        padding: 40px;
    }

    .text-card-bold {
        font-weight:600;
    }

    .card-img-top{
        min-height:200px;
    }

    .card-img-top {
        display: inline-block;
        overflow: hidden; /* clip the excess when child gets bigger than parent */
    }

        .card-img-top img {
            height:200px;
            display: block;
            transition: transform .4s; /* smoother zoom */
        }

        .card-img-top:hover img {
            transform: scale(1.3);
            transform-origin: 50% 50%;
        }

        .homepage-footer{
            height:400px;
        }

    .footer-img{
        width:200px;
        height:200px;
    }

    .activity-bg-img {
        background-image: url("/Images/Abreeza-Davao-City.jpg");
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        width: 300px;
        height: 300px;
        border-radius: 50px 50px;
        margin:20px;
    }
        .activity-bg-img h4 {
            color: white;
            position: relative;
            top: 230px;
            left: 20px;
        }
</style>

<!-- banner -->
<div class="travel-banner">

</div>

<!-- contents -->
<div class="container">
    <!-- Search / Booking -->
    <div class="booking-search-form form-inline">
        <div class="form-group mb-1 search-input">
            <label> Location </label>
            @*<input type="text" name="Input-location" class="form-control" />*@

            <select id="input-Location" class="form-control" style="width:10rem;">
                <option selected>Location</option>
                <option>Davao City</option>
                <option>Cebu City</option>
                <option>Bohol City</option>
            </select>
        </div>
        <div class="form-group mb-1  search-input">
            <label> Tour </label>
            <select id="inputState" class="form-control" style="width:12rem;">
                <option selected>Activity</option>
                <option>City Tour</option>
                <option>Countryside Tour</option>
                <option>Island Hopping</option>
            </select>
        </div>
        <div class="form-group mb-1  search-input">
            <label> Date Start</label>
            <input type="date" name="Input-date-start" class="form-control" id="" />
        </div>
        <div class="form-group mb-1  search-input">
            <label> Date End </label>
            <input type="date" name="Input-date-end" class="form-control" />
        </div>
        <div class="form-group mb-1  search-input">
            <label> Guests </label>
            <input type="number" name="Input-noGuests" class="form-control" style="width:10rem;" value="2" />
        </div>
        <button class="btn btn-primary mb1" style=" margin-top: 20px; margin-left: 10px; padding: 10px 50px; "> Search </button>
    </div>



    <div class="Tour-Packages-List">
        <div class="row" style="margin-bottom:30px;">
            <h2> Popular Tours </h2>
            <a href="#" style="padding-top:10px;margin-left:20px;"> View All Tours > </a>
        </div>
        <div class="row" style="margin-bottom:120px;">

            <div class="tour-package-card col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img  src="~/Images/Abreeza-Davao-City.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text"> <small class="text-muted">Price : <span style="color: mediumseagreen;"> P 2,500-3,000 /person </span>  </small> </p>
                        <a href="#" class="card-link">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/CebuCity.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text"> <small class="text-muted">Price $-$$ </small> </p>
                        <a href="#" class="card-link">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/Bohol101.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text"> <small class="text-muted">Price $-$$ </small> </p>
                        <a href="#" class="card-link">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/Destinations/Ilocos/IlocosMainTour.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text">Price $-$$</p>
                        <a href="#" class="card-link">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/El_Nido_Palawan.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text">Price $-$$</p>
                        <a href="#" class="btn btn-outline-primary">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/coron_palawan.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text">Price $-$$</p>
                        <a href="#" class="btn btn-outline-primary">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/Destinations/Baguio/BaguioMainTour.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text">Price $-$$</p>
                        <a href="#" class="btn btn-outline-primary">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-3">
                <div class="card">
                    <div class="card-img-top">
                        <img class="card-img-top" src="~/Images/Destinations/Camiguin/attraction_camiguinCross.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-card-bold">Tour Title</h5>
                        <p class="card-text">Tour Description</p>
                        <p class="card-text">Price $-$$</p>
                        <a href="#" class="btn btn-outline-primary">More information ></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Featured Activities -->
<div class="div-gray">
    <div class="container">
        <div class="row">
            <div class="col-4" style="margin-top: 100px;">
                <h2> Featured Activities </h2>
                <p style="margin-top: 30px;">
                    Go wild, go slow, go smooth, go solo – an adventure is what you make of it.
                    Choose one style or create a package, fill your passports with adventures together.
                </p>
                <a href="#" style="margin-top: 30px;">
                    Browse all activities >
                </a>
            </div>
            <div class="col-8" style="display:inline-flex;">
                <div class="activity-bg-img">
                    <h4> City Tours </h4>
                </div>
                <div class="activity-bg-img" style="background-image:url('/Images/Destinations/Palawan/coron_palawan.jpg')">
                    <h4> Island Hopping </h4>
                </div>
                <div class="activity-bg-img" style="background-image:url('/Images/Destinations/Cebu/Canyoneering-Moalboal/Canyoneering.png')">
                    <h4> Canyoneering </h4>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Popular Destinations -->
<div class="container">

    <div class="Tour-Packages-List">
        <div class="row" style="margin-bottom:30px;">
            <h2> Popular Destinations </h2>
            <a href="#" style="padding-top:10px;margin-left:20px;"> View All Tours > </a>
        </div>
        <div class="row" style="margin-bottom:120px;">

            <div class="tour-package-card col-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/Abreeza-Davao-City.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Davao City</h4>
                        <p class="card-text">Tour Description</p>
                        <a href="#" class="">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/CebuCity.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Cebu City</h4>
                        <p class="card-text">Tour Description</p>
                        <a href="#" class="">More information ></a>
                    </div>
                </div>
            </div>

            <div class="tour-package-card  col-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/Bohol101.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Bohol</h4>
                        <p class="card-text">Tour Description</p>
                        <a href="#" class="">More information ></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


<!-- Services -->
<div class="div-gray" style="padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-4" style="margin-top: 50px;padding-top:100px;">
                <h2> Services </h2>
                <p style="margin-top: 30px;">
                    Services Here Description here
                </p>

            </div>
            <div class="col-8" style="margin-top: 50px;">
                <div class="row">

                    <div class="col-4 home-services">
                        <h3> Tour Packages </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                    <div class="col-4 home-services">
                        <h3> Air Ticket Booking </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                    <div class="col-4 home-services">
                        <h3> Transportations Services </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                    <div class="col-4 home-services">
                        <h3> Visa Processing </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                    <div class="col-4 home-services">
                        <h3> Island Hopping </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                    <div class="col-4 home-services">
                        <h3> Hotel Booking </h3>
                        <p>
                            Services Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container homepage-footer">
    <div class="row">
        <div class="col-4">

            <h4> Real Breeze Travel and Tours </h4>
            <p> Contact Us </p>
            <p> travel.realbreeze@gmail.com </p>
            <p> Landline: 082 333 5156 </p>
            <p> Smart: +639 </p>
            <p> Smart: +639 </p>
            <p> Socials:  Facebook </p>
        </div>
        <div class="col-4">
            <h6> Featured Tours </h6>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item">  An item</a>
                <a href="#" class="list-group-item">A second item</a>
                <a href="#" class="list-group-item">A third item</a>
                <a href="#" class="list-group-item">A fourth item</a>
                <a href="#" class="list-group-item">And a fifth one</a>
            </div>
        </div>
        <div class="col-4">
            <h6> Latest Updataes </h6>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item">An item</a>
                <a href="#" class="list-group-item">A second item</a>
                <a href="#" class="list-group-item">A third item</a>
                <a href="#" class="list-group-item">A fourth item</a>
                <a href="#" class="list-group-item">And a fifth one</a>
                <a href="#" class="list-group-item">A fourth item</a>
                <a href="#" class="list-group-item">And a fifth one</a>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row" style="flex-wrap:nowrap;overflow:hidden;">
        <img src="~/Images/Destinations/Baguio/Baguio-Cathedral.jpeg" class="footer-img" />
        <img src="~/Images/Destinations/Bohol/ChocolateHills.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Cebu/Canyoneering-Moalboal/Canyoneering.png" class="footer-img" />
        <img src="~/Images/Destinations/Ilocos/Ilocos/ilocos-Vigan.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Ilocos/Sagada/sagada-Banaue.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Palawan/Coron/caluit-black-island.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Palawan/Elnido/TourA/el-nido-tour-a-big-lagoon.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Bohol/Tarsier.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Baguio/Baguio-strawberry-farm.jpg" class="footer-img" />
        <img src="~/Images/Destinations/Cebu/Oslob/whale-shark-oslob.jpg" class="footer-img" />
    </div>
</div>