
    <div class="product-contact row">
        <div class="col-md-3" >
            <img class="product-contact-img" src="~/Images/Icons/icons-phone.png" />
        </div>
        <div class="col-md-9">
            <h3>For Inquiries and Reservations</h3>
            Email:<a href="mailto:Travel.RealBreeze@Gmail.com">Travel.RealBreeze@Gmail.com</a><br />

            Globe: <a href="tel:+639167558473">+63 916-755-8473 </a><br />
            Smart: <a href="tel:+639090761575">+63 909-076-1575 </a><br />
            Sun: <a href="tel:+639330895358">+63 933-089-5358 </a><br />    

            <abbr title="Phone">Tel#:</abbr>
            +63 82 297.1831
        </div>
    </div>



