
    <div class="product-contact row">
        @*<div class="col-md-3" >
            <img class="product-contact-img" src="~/Images/Icons/icons-phone.png" 
                 style="padding-top:70px;" width="90"/>
        </div>*@
        <div class="col-md-9">
            <h3>For Inquiries and Reservations</h3>
            
            @*<a href="https://api.whatsapp.com/send?phone=639167558473" style="margin-bottom:20px;">
                <div style="border:1px solid white;padding:5px 15px; width:280px;">
                    <img src="~/Images/Icons/whatsapp-white.png" width="20" />
                    <text class="prod-contact-link">
                        Message Us In WhatsApp
                    </text>
                </div>
            </a>*@
            <p>
                <a href="https://api.whatsapp.com/send?phone=639167558473">
                    <button class="btn btn-primary">
                        <img src="~/Images/Icons/whatsapp-original.png" width="25" /><br />
                        <text style="font-size:8px;">WhatsApp</text>
                    </button>
                </a>
                <a href="https://m.me/realbreezeCebu">
                    <button class="btn btn-primary">
                        <img src="~/Images/Icons/fb-messenger-original.png" width="25" /><br />
                        <text style="font-size:8px;">Messenger</text>
                    </button>
                </a>
                <a href="viber://chat?number=639167558473">
                    <button class="btn btn-primary">
                        <img src="~/Images/Icons/viber-original.png" width="25" /><br />
                        <text style="font-size:8px;">Viber</text>
                    </button>
                </a>
                <a href="line://call/63/9167558473">
                    <button class="btn btn-primary">
                        <img src="~/Images/Icons/line-original.png" width="25" /><br />
                        <text style="font-size:8px;">Line</text>
                    </button>
                </a>
            </p>

            <img src="~/Images/Icons/call-white.png" width="15" />
            Globe: <a href="tel:+639167558473"> 
                        <text class="prod-contact-link" > +63 916-755-8473 </text> 
                   </a><br />

            <img src="~/Images/Icons/call-white.png" width="15" />
            Smart: <a href="tel:+639090761575"> 
                        <text class="prod-contact-link">+63 909-076-1575</text>
                   </a><br />           
            @*WhatsApp: <a href="https://api.whatsapp.com/send?phone=639167558473">
                        <text class="prod-contact-link">+63 916-755-8473</text>
                    </a><br />*@             

            <img src="~/Images/Icons/email-white.png" width="15" />
            Email:<a href="mailto:Travel.RealBreeze@Gmail.com">
                      <text class="prod-contact-link">Travel.RealBreeze@Gmail.com</text>
                    </a><br />   

            <img src="~/Images/Icons/landline-phone.png" width="15" />
            <abbr title="Phone">Tel#:</abbr> +63 82 333-5157
        </div>
    </div>



