@model IEnumerable<TravelPackage.Models.tpProductImages>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a href="http://realbreezedavaotours.com/TourPackages/samal-inland-package-tour/" title="@item.AltName">
                <img width="150px" src="@item.ImgPath" alt="@item.AltName">
            </a>
            <p>@item.Desc</p>
        </div>
    }

</div>


