
@{
    ViewBag.Title = "RequestQuote";
}

<h2>Quotation Request</h2>
<p>
    Dear Customer:
    <br />
    <br />
    <br />Your request is now processed in our system. 
    <br />Our staff well send the quotation requested. 
    <br />
    <br />Thank you for choosing us!
    <br />
    <br />
    <br />Sincerely!
    <br />
    <br />System Development Team
    <br />
    <br />
    <br />
    <br />
</p>

@Html.ActionLink("Back", "Index")


