
@{
    ViewBag.Title = "RequestQuote";
}

<h2>Quotation Request</h2>
<p>
    Dear Customer:
    <br />Thank you for your prompt inquiry!
    <br />Your request is now processed in our system. 
    <br />Our staff well send your the quotation requested. 
    <br />
    <br />Sincerely!
    <br />Sales Manager
    <br />
    <br />
</p>

@Html.ActionLink("Back", "Index")


