@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> Cebu Canyoneering and Moalboal Tour
        <br /> Tour Code: <text class="text-primary"> CEB-CNM </text>
        <br /> P3,200 Per Pax, Based on 6 Pax
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> Travel to Moalboal </p>
    <p> Orientation in Moalboal in Tourism Office</p>
    <p> Moalboal Island Hopping</p>
    <p> - Pescador Island </p>
    <p> - Turtle Point </p>
    <p> - Sardine Run  </p>
    <p> Lunch </p>
    <p> Canyoneering registration and safety orientation </p>
    <p> Motorbike ride going to starting point </p>
    <p> Canyoneering activities </p>
    <p> Kawasan Falls Swimming </p>
    <p> Wash up and Travel back to Cebu City</p>
    <p> Airport / Hotel Drop Off </p>

    <hr />
    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned transportation exclusive for the group during the tour
        <br />Entrance Fees
        <br />Parking Fees
        <br />Barge Fees
        <br />Driver and Fuel charges
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p> Airtickets
    <br />hotel accommodation
    <br />meals(unless indicated)
    <br />Tour Guides(Php 2,500 upon request) </p>
</div>
