@model TravelPackage.Models.tpProducts

<!-- For Google Search Results-->
<script type="application/ld+json">
    {
    "@@context": "https://schema.org/",
    "@@type": "Product",
    "name": "Cebu 3D2N Tour Package",
    "image": [
    "http://www.realbreezetravel.com/Images/Destinations/Cebu/Twin-city/cebu-twin-city-tour.jpg",
    "http://www.realbreezetravel.com/Images/Destinations/Cebu/Twin-City/Cebu-Heritage-Monument.jpg",
    "http://www.realbreezetravel.com/Images/Destinations/Cebu/Twin-City/Mactan-Shrine.jpg"
    ],
    "offers": {
    "@@type": "AggregateOffer",
    "availability": "InStock",
    "lowPrice": "5350.00",
    "priceCurrency": "PHP"
    }
    }
</script>

<div>
    <h3>Description</h3>
    <p>
        <br /> Cebu 3D2N Tour Package
        <br /> Tour Code: CEB-3D2N <br />
        <br /> P5,350 per pax, based on 6 pax
    </p>
    <hr />
    <h3>Destinations</h3>
    <br />Day 1: City Tour
    <br />Airport/hotel Pick up
    <br />Simala Shrine
    <br />Basilica del Sto. Nino
    <br />Magellans Cross
    <br />Lunch (On Guest Account)
    <br />Taoist Temple
    <br /> Sirao Garden
    <br />Temple of Leah
    <br />10K Roses
    <br />Drop Hotel
    <br />Check Inn at Hotel
    <br />
    <br />Day 2: Whaleshark + Kawasan
    <br />Hotel Pick up
    <br />Light Breakfast in Oslob On Guest Account
    <br />Whaleshark Swimming
    <br />Travel to Kawasan Falls
    <br />Lunch (On Guest Account)
    <br />Kawasan Falls and activities
    <br />Wash up and Travel back to cebu
    <br />Hotel Drop Off
    <br />
    <br />Day 3: Airport Transfer
    <br />Hotel Pick up
    <br />Transfer at Airport
    <br />Drop Off at Airport

    <hr />
    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned transportation exclusive for the group during the tour
        <br />Parking Fees
        <br />Barge Fees
        <br />Driver and Fuel charges
        <br />Hotel Accommodation
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p>
        Airtickets
        <br />Entrance Fees
        <br />Meals(unless indicated)
        <br />Tour Guides(Php 2,500 upon request)
    </p>
</div>
