@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> 9:00am : anywhere in Cebu City/Mactan Island
        <br /> 7:00pm : End of Tour. Drop off anywhere in Cebu City / Mactan Island
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Sto. Nino Basilica Church and Museum </p>
    <p> 2. Yap San Diego Old House</p>
    <p> 3. Magellan's Cross </p>
    <p> 4. Taoist Temple / Chinese Temple </p>
    <p> 5. Cebu Heritage Park </p>
    <p> 6. Pasalubong Center </p>
    <p> 7. Fort San Pedro </p>
    <p> 8. Mactan Shrine </p>
    <p> 9. Guitar Factory </p>
    <p> 10. 1 Side trip :  Adventure / All-In / Ultimate / Top View /Simala Shrine  </p>

    <h3>Inclusions</h3>
    <p>
        <br />1 Buffet Lunch during Cebu Twin Tour
        <br />Cebu Twin City Tour with entrance fees Sidetrip to Adventure
        <br />Pickup and drop off Cebu City Mactan Island
        <br />Air-conditioned Vehicle rental fuel and driver served as tour facilitator (12 hrs used)
    </p>
    <hr />

</div>
