@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> Simala & Oceanpark Tour
        <br /> P1,800 Per Pax, Based on 6 Pax
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> Simala Shrine </p>
    <p> Sidetrip to Carcar Pasalubong Center </p>
    <p> Lunch (On Guest Account) </p>
    <p> Cebu Oceanpark</p>
    <p> Airport / Hotel Drop Off </p>

    <hr />
    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned transportation exclusive for the group during the tour
        <br />Entrance Fees
        <br />Parking Fees
        <br />Barge Fees
        <br />Driver and Fuel charges
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p>
        Airtickets
        <br />hotel accommodation
        <br />meals(unless indicated)
        <br />Tour Guides(Php 2,500 upon request)
    </p>
</div>
