@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br />7:30am :  pickup in guest hotel
        <br />8:30-9am : Jump off time on board motorized boat at cordova port
        <br />3:00pm : End of Tour, Drop off at Cordova Port
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Nalusuan Island </p>
    <p> 2. Hilutungan Island </p>
    <p> 3. Caohagan Island </p>

    <h3>Inclusions</h3>
    <p>
        <br />All island entrance fees w/ picnic lunch served at Hilutugan Island
        <br />Snorkeling at Fish Sanctuary and Swimming with Snorkeling Mask and Life Vest
        <br />Round trip land transfer from Cebu hotel-mactan wharf
        <br />Motorized Boat rental, fuel and crew
    </p>
    <hr />

</div>
