@model TravelPackage.Models.tpProducts

<!-- For Google Search Results-->
<script type="application/ld+json">
    {
    "@@context": "https://schema.org/",
    "@@type": "Product",
    "name": "Cebu Whale Shark w/ Sumilon and Tumalog Tour ",
    "image": [
    "http://www.realbreezetravel.com/Images/Destinations/Cebu/Whaleshark-Sumilon-Tumalog/Oslob-Whale-Sumilon-Tumalog.png"
    ],
    "offers": {
    "@@type": "Offer",
    "url": "http://www.realbreezetravel.com/TourPackages/49/Oslob%20Whaleshark%20Watching%20with%20Sumilon%20and%20Tumalog%20Tour",
    "priceCurrency": "PHP",
    "price": "2300",
    "availability": "https://schema.org/InStock"
    }
    }
</script>



<div>
    <h3>Description</h3>
    <p>
        <br /> Cebu Whale Shark w/ Sumilon and Tumalog Tour
        <br /> Tour Code: CEB-WST <br />
        <br /> P2,300 Per Pax, Based on 10 Pax
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> Light Breakfast in Oslob </p>
    <p> Whaleshark Swimming </p>
    <p> Sumilon Island </p>
    <p> Lunch (On Guest Account) </p>
    <p> Tumalog Falls </p>
    <p> Wash up and Travel back to Cebu City</p>
    <p> Airport / Hotel Drop Off </p>

    <hr />
    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned transportation exclusive for the group during the tour
        <br />Entrance Fees
        <br />Parking Fees
        <br />Barge Fees
        <br />Driver and Fuel charges
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p>
        Airtickets
        <br />hotel accommodation
        <br />meals(unless indicated)
        <br />Tour Guides(Php 2,500 upon request)
    </p>

    <h3>Note</h3>
    <p>
        Add Php 500 for Non-Filipino Guest.
    </p>
</div>
