@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br />4:30am : pickup at Cebu city. proced and travel to Oslob (3hrs estimated travel time)
        <br />5:00pm : End of Tour . Drop off cebu City
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Whale watching at Oslob </p>
    <p>  +300/person (Foreigner) </p>
    <p>  max 12hrs . 350php excess per hour </p>
    <p> 2. 1 SideTrip : Kawasan / Moalboal / Simala / Sumilon</p>

    <h3>Optional - Snorkeling</h3>
    <p>  +200/person  </p>
    <p>  +750/person (Foreigner) </p>

    <h3>Inclusions</h3>
    <p>
        <br />1 Set Lunch in Oslob
        <br />Oslob Whale Watching Tour w/ Sumilon Tour (max. of 12hrs) + 350/hr. excess
        hours
        <br />Sumilon Fees & Oslob Whale Watching Fee (BOAT RIDE) + 300/head if foreigner

        <br />Pickup and drop off Cebu City Mactan Island
        <br />Air-conditioned Vehicle rental fuel and driver served as tour facilitator
    </p>
    <hr />

</div>
