@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> Oslob Whaleshark Watching and Tumalog Tour
        <br /> P 3,700 Per Pax, based on 6 pax
    </p>

    <hr />
    <h3>Destinations</h3>
    <p> Airport/hotel Pick up </p>
    <p> Light Breakfast </p>
    <p> Whaleshark swimming </p>
    <p> Tumalog Falls </p>

    <h3> Oslob Heritage Park </h3>
    <p>  Boljoon Church  </p>
    <p>  Airport / Hotel Drop Off </p>
    
    <hr />
    <h3> Inclusions </h3>
    <p>
        <br />Airconditioned transportation exclusive for the group during the tour
        <br />Entrance Fees
        <br />Parking Fees
        <br />Barge Fees
        <br />Driver and Fuel charges
    </p>
    <hr />

    <h3>Exclusions</h3>
    <p>
        Airtickets
        <br />hotel accommodation
        <br />meals(unless indicated)
        <br />Tour Guides(Php 2,500 upon request)
    </p>

</div>
