@model TravelPackage.Models.tpProducts

<div>

    <h3>Description</h3>
    <p>
        <br /> Tour Pick-up Time at 5:30 AM - 6:00 AM
        <br /> Enjoy unique safari experience in Calauit island as 
        you come face to face with the giraffes and zebras. 
        Meet other endemic animals to Palawaan as you explore around 
        the Caluit Island.
        <br /> 
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Calauit Safari Sanctuary </p>
    <p> 2. Black Island </p>
    <p> 3. Black Island Cave</p>
    <p> 3. Buluang Fishpond Restaurant </p>
    <p> 3. Busuanga Town </p>
    <p> 3. Malbato Church </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Land Transportation
        <br />Tourist boat
        <br />Life Vest
        <br />Buffet picnic lunch and snacks
        <br />All Permits and entrance fees
        <br />Tour Guide
        <br />Cottage rentals
        <br />Government Taxes
    </p>
    <hr />

</div>
