@model TravelPackage.Models.tpProducts

<div>

    <h3>Description</h3>
    <p>
        <br /> Tour Pick-up Time at 8:00AM-8:30AM
        <br /> Proceed to Wharf Area; Board the Boat
        <br /> Visit to the; 7 Must-See and Best Places in Coron:
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Kayangan Lake </p>
    <p> 2. Twin Lagoon</p>
    <p> 3. Beach 91 </p>
    <p> 4. Cyc Beach </p>
    <p> 5. Malwawey Coral Garden </p>
    <p> 6. Balinsasayaw </p>
    <p> 7. Skeleton Wreck </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Transportation for the group
        <br />Destination Entrances
        <br />Buffet picnic lunch and snacks
        <br />Tour Guide
        <br />Government Taxes
        <br />Kayak
        <br />Tourist Boat
        <br />Life Vest
        <br />Cottage Rental
    </p>
    <hr />

</div>
