@model TravelPackage.Models.tpProducts

<div>

    <h3>Description</h3>
    <p>
        <br /> Tour Pick-up Time at 7:30 AM - 8:00 AM
        <br /> Proceed to Wharf Area; Board the Boat
        <br /> Visit to the 3 Best Beaches
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Malcapuya Island </p>
    <p> 2. Banana </p>
    <p> 3. Bulog Dos Island </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Transportation for the group
        <br />Destination Entrances
        <br />Buffet picnic lunch and snacks
        <br />Tour Guide
        <br />Government Taxes
        <br />Kayak
        <br />Tourist Boat
        <br />Life Vest
        <br />Cottage Rental
    </p>
    <hr />

</div>
