@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br />Pickup: 2:30pm-3:00pm Bohol areas
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Mt Tapyas View Deck </p>
    <p> 2. Souvenir Shop</p>
    <p> 3. public market </p>
    <p> 4. coron baywalk</p>
    <p> 5. san agustin </p>
    <p> 6. Cashew Processing </p>
    <p> 7. Town Plaza </p>
    <p> 8. Maguinit Hotspring </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Transportation for the group
        <br />Destination Entrances
        <br />Buffet Lunch at Loboc River ( Floating restaurant )
        <br />Light snack
        <br />Tour Guide
        <br />Government Taxes
    </p>
    <hr />


</div>
