@model TravelPackage.Models.tpProducts

<div>

    <h3>Description</h3>
    <p>
        <br /> Tour Pick-up Time at 7:30 AM - 8:00 AM
        <br /> Proceed to Wharf Area; Board the Boat
        <br /> Offers a thilling combination of the snorkeling
        above the historic wreck and sunken World War II and best
        coral reefs, swimming in the crystal clear blue water.
    </p>
    <hr />
    <h3>Destinations</h3>
    <p> 1. Lusong Gunboat </p>
    <p> 2. Lusong Coral Garden </p>
    <p> 3. Pass Island </p>

    <h3>Inclusions</h3>
    <p>
        <br />Airconditioned Land Transportation
        <br />Tourist boat
        <br />Life Vest
        <br />Buffet picnic lunch and snacks
        <br />All Permits and entrance fees
        <br />Tour Guide
        <br />Cottage rentals
        <br />Government Taxes
    </p>
    <hr />


</div>
