@model TravelPackage.Models.tpProducts

<div>
    <h2>4D3N Genting – Kuala Lumpur Tour Package</h2>
    <h3>Tour Code: HIB-MAS-03/PHI</h3>
    <h3>Description</h3>
    <p><br />
         Realbreeze Travels and Tours welcomes you to Malaysia in our affordable and
         budget-friendly Genting – Kuala Lumpur Tour Package for 4 days and 3 Nights.
    </p><hr />

    <h3>Destinations</h3>
    <ul>
        <li > 1. Drive Pass National Museum</li>
        <li > 2. China Town</li>
        <li > 3. Lake Garden</li>
        <li > 4. National Monument</li>
        <li > 5. Sultan Adbul Samad Building</li>
        <li > 6. King's Palace</li>
        <li > 7. Independence Square</li>
        <li > 8. Twin Tower</li>
        <li > 9. National Mosque</li>
        <li > 10. Handicraft Centre</li>
        <li > 11. Genting Hotel</li>
        <li > 12. Batu Caves</li>
    </ul>

    <h3>Inclusions</h3>
    <ul>        
        <li> SIC Tour </li>
        <li>
            Transportation in comfortable air-conditioned Deluxe
            -car or van incl. fuel as per itinerary
        </li>
        <li>
            Accommodation in above hotels mentioned based on -TWN / TRIPLE
        </li>
        <li>
            Daily Breakfast at hotel
        </li>
        <li>
            Driver cum guide for group below 12 persons
        </li>
        <li>
            Entrance fees as per program above
        </li>
        <li>
            Meals as per program
        </li>
    </ul>

    <h3>Exclusions</h3>
    <ul>
        <li>
            Personal expenses such as: Extra meals (lunch & dinner), soft drinks, snacks, souvenirs, laundry, minibar, telephone, etc.
        </li>
        <li>
            Air tickets & airport tax
        </li>
        <li>
            Tipping driver and Insurance
        </li>    
        <li>
            Hotel Peak Season surcharge
        </li>
        <li>
            Any optional program
        </li>
        <li>
            All hotels will impose Tourism Tax of MYR 10 per room per night. 
            Upon check into a hotel, the hotel will collect Tourism Tax from guest directly
        </li>
        <li>
            Langkawi Council Levy Fee will be charged on top of Tourism Tax. 
            Hotel will collect from guest directly
        </li>
        <li>
            Penang Local Government Fee will be charged on top of Tourism Tax. 
            Hotel will collect from guest directly
        </li>
        <li>
            Genting no extra bed facility only extra breakfast will 
            be provided for 3rd person
        </li>
    </ul><hr />
</div>
