@{
    ViewBag.Title = "Malaysia Tour ";
}
<div class="row">
    
    <h2>
        Malaysia Tour Package
    </h2>
    <p>
        Malaysia Tour Package is one of the top selling holiday package these days in Asia. Malaysia being adjacent to other top
        destinations such as Thailand and Singapore, vacation holiday to Malaysia is hard to ignore and a must to spice up your asia tour.
    </p>
    <h3>
        What is Malaysia
    </h3>
    <p>
        Tropical Asian country in Malay peninsula and known for beaches, rainforest and a mixed culture of Malay, Indian and Chinese. 
        The Capital is home of skyscraper buildings and busy shopping districts. In the peninsula, Malaysia shares maritime borders with 
        Thailand, Singapore, Vietnam and Indonesia. While East Malaysia shares maritime borders with Brunei and Philippines. Due to this 
        geographical location, Malaysia became one of favorite holiday and tour destinations in Asia either thru a package tour or backpacker 
        (DIY) travel. Malaysia tour packages continue to gain its momentum due to additional affordable airlines around major cities in Asia 
        pacific region aside from growth in hotel and hospitality industry.
    </p>
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_City.jpg" width="100%" alt="Malaysia City View">
            <p>Skyscraper Buildings</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Cabel_Car_2.jpg" width="100%" alt="Malaysia Forest">
            <p>Malaysia rainforest</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Hotel.jpg" width="100%" alt="Malaysia Forest">
            <p>Malaysia Hotels</p>
        </div>
   </div>

    <h3>
        Why visit Malaysia
    </h3>
    <p>
        Traveling to Malaysia opens your door to the Asian culture. You will experience the diversity of culture, cuisine and religion. Their 
        culture is heavily influenced by Persian, Arabic, Chinese and British. Same with their religion and cuisine though it is very similar 
        to Singapore and Brunei and small resemblance to Filipino cuisine. Their food culture truly reflects the multi-cultural and multi-ethnic 
        composition of their population. Their Malaysian arts continue to exist despite of modernization and digital era. Their arts are mainly 
        centered in carving, weaving and silversmithing. Festivals and holidays, for Christians, Muslims and other ethnic groups are also observed 
        in Malaysia. Making it more exciting to visit Malaysia. All these things are best experience with a holiday tour package. Most Malaysia tour 
        package are added to other tour packages in Asia such as Thailand Tour, Singapore Tour and other neighboring countries to optimize and have 
        an extended vacation for the minimal addon cost.
    </p>
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Food.jpg" width="100%" alt="Malaysia Food Cuisine">
            <p>Malaysia Cuisine</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Shopping.jpg" width="100%" alt="Card image cap">
            <p>Malaysia Shopping Centers</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Hotel_Pool.jpg" width="100%" alt="Card image cap">
            <p>Malaysia Hotels</p>
        </div>
        <div class="col-lg-3">
            <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Street_Food.jpg" width="100%" alt="Card image cap">
            <p>Malaysia Street Food</p>
        </div>
    </div>


    <h3>
        What to expect from Malaysia Tour Package
    </h3>
    <p>
        Availing a Malaysia tour package will make your travel a lot more comfortable. Upon arrival, travel representative will meet and assist guest 
        to the assigned vehicle. This makes your group or family easier transfer rather than having the public transport such as train or bus. Upon 
        your arrival in downtown area, finding a hotel is easy with wide variety of choices with different budget range. But getting a tour package 
        is even better since you will have an advance booking and get a highly recommended room according to your nationality. This will make your 
        stay more pleasing and comfortable. Your day tour and optional tour is another very important thing during your visit in Malaysia. A package 
        tour will make the most and best experience in Malaysia specially if you have a limited stay in the city. Don’t do by yourself and end up with 
        a very few destinations.  Check out the affordable Malaysia tour packages and check which one fits your budget.
        Most popular tour package for Malaysia is the 3D2N Kuala Lumpur. Popular tourist attractions include (1) Petronas Twin Tower (2) KLCC Park 
        (3)KL Tower observation deck (4) Atmosphere 360 Revolving Restaurant (5) Aquaria KLCC  (6) Batu Cave (7) Menara Kuala Lumpur (8) Bukit Bintang - 
        shopping district (9) Jalan Alor – street foods (10) Central Market – souvenir stores  (11) Pavilion – high end shopping center (12) National 
        Monument (13) Merdeka Square / Independence square– Historical place (14) National Mosque (15)Royal King’s Palace/Istana Negara (15)Genting Highlands 
        / Resorts World Genting
    </p>
    <p>
        A well planned Malaysia Tour Package should be worth it and be able to capture best memories during the visit.
    </p>

    <address>
        <b>For Inquiries</b><br />
        Email:<a href="mailto:Travel.RealBreeze@Gmail.com">Travel.RealBreeze@Gmail.com</a><br />

        Globe: <a href="tel:+639167558473">+63 916-755-8473 </a><br />
        Smart: <a href="tel:+639090761575">+63 909-076-1575 </a><br />
        Sun: <a href="tel:+639330895358">+63 933-089-5358 </a><br />

        Tel#: +63 82 297.1831
    </address>

    <!-- Grid row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Petronas.jpg" width="100%" alt="Petronas Twin Tower">
                <p>(1) Petronas Twin Tower</p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/KLCC.jpg" width="100%" alt="KLCC Park">
                <p>(2) KLCC Park</p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/KL-Observation-deck.jpg" width="100%" alt="KL Observation Deck">
                <p>(3) KL Observation Deck</p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Food2.jpg" width="100%" alt="Revolving Restaurant">
                <p>(4) Revolving Restaurant</p>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Aquaria.jpg" width="100%" alt="Aquaria KLCC">
                <p>(5) Aquaria KLCC </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Malaysia_BatuCaves.jpg" width="100%" alt="Batu Cave">
                <p>(6) Batu Cave</p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Menara_KL.jpg" width="100%" alt="Menara Kuala Lumpur">
                <p>(7) Menara Kuala Lumpur</p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Shopping.jpg" width="100%" alt="Bukit Bintang Shopping">
                <p>(8) Bukit Bintang Shopping </p>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Malaysia_Street_Food.jpg" width="100%" alt="Jalan Alor – street foods">
                <p>(9) Jalan Alor – street foods </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Central_Shopping.jpg" width="100%" alt="Central Market – souvenir stores">
                <p>(10) Central Market – souvenir stores </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Pavilion.jpg" width="100%" alt="Pavillion - high end shopping center ">
                <p>(11) Pavillion - high end shopping center  </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/National_Monument.jpg" width="100%" alt="National Monument">
                <p>(12) National Monument </p>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Independence-Square.jpg" width="100%" alt="Independence Square">
                <p>(13) Merdeka Square / Independence square– Historical place </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/National_Mosque.jpg" width="100%" alt="National Mosque">
                <p>(14) National Mosquea  </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Royal King.jpg" width="100%" alt="Royal King’s Palace/Istana Negara ">
                <p>(15) Royal King’s Palace/Istana Negara  </p>
            </div>
            <div class="col-lg-3">
                <img src="~/Images/Destinations/Malaysia/Article/Resorts_World_Genting.jpg" width="100%" alt="Genting Highlands  / Resorts World Genting">
                <p>(16) Genting Highlands / Resorts World Genting </p>
            </div>
        </div>
    </div>


</div>
