@model TravelPackage.Models.tpProducts

<div>
    <h3>Description</h3>
    <p>
        <br /> Realbreeze Travel and Tours are offering an affordable tour package in Singapore. Our Singapore tour and Macau Tour Package is a 5 days and 4 nights an affordable and budget-friendly package.
        </p>
    <hr />

    <h3>Destinations</h3>
    <ul>
        <li>Orchard Street</li>
        <li>The Fountain of Wealth</li>
        <li>Singapore Flyer</li>
        <li>The Helix Bridge</li>
        <li>Esplanade</li>
        <li>Merlion Park</li>
        <li>Marina Bay</li>
        <li>Thian Hock Temple(Pass by)</li>
        <li>Chinatown</li>
        <li>Universal Studios</li>
        <li>The Helix Bridge</li> 
    </ul>
    <hr />
</div>
